body{
    background-color: darkslategray;
    color: darkblue;
}
div{
    background-color: black;
    padding: 30px;
    font-family: verdana;
    /* width: fit-content; */

    display: flex;

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    /* flex-flow: column; */
    /* flex-flow: wrap; */
    /* flex-flow: row-reverse wrap; */

    /* column-gap: 30px; */
    /* row-gap: 20px; */
    /* gap: 30px 10px; */
    gap: 30px;

    
}
section{
    padding: 15px;
    border-radius: 8px;
}
section:nth-child(1){
    background-color: lightblue;
}
section:nth-child(2){
    background-color: lightcoral;
}
section:nth-child(3){
    background-color: lightcyan;
}
section:nth-child(4){
    background-color: lightgray;
}
section:nth-child(5){
    background-color: lightpink;
}
section:nth-child(6){
    background-color: lightgreen;
}
section:nth-child(7){
    background-color: lightseagreen;
}
section:nth-child(8){
    background-color: lemonchiffon;
}
section:nth-child(9){
    background-color: lightgoldenrodyellow;
}
section:nth-child(10){
    background-color: lightcyan;
}